* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

html, body {
  width: 100%;
  height: 100%;
}
/* headings */
h3 {
  color: firebrick;
  margin-top: 16px;
  margin-bottom: 6px;
}

h4 {
  color:navy;
  margin-top: 10px;
  margin-bottom: 3px;
}


/* Left menu */
nav {
    float: left;
    width: 170px;
    background:gainsboro;
    overflow: scroll;
    height: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right:18px;
  }

  .menubutton {
    display: block;
    background-color:inherit;
    color: black;
    padding: 0px 0px 0px 0px;
    border: none;
    margin: 0px;
    width: 100%;
    height: 25px; /*force menu items narrower than normal font size*/
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .menubutton:hover {
    background-color:#bbb;
  }
  .menubutton:focus {
    background-color:gray;
  }

button {
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.menuheader {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  /*font-size: 15px;*/
  transition: 0.4s;
}

.active, .menuheader:hover {
  background-color: #ccc; 
}

.menupanel {
  padding: 0 18px;
  display: none;
  background-color: inherit;
  overflow: hidden;
  animation: growDown 800ms ease-in-out;
  transform-origin: top center;
}

/* Right panels */

header {
  padding:30px;
}

#rightpanel {
  padding:0px;
}

#mainPanel {
  padding: 30px;
  /*ackground:ghostwhite;*/
}

#infoPanel {
  padding: 30px;
  /*background:ghostwhite;*/
}

#resultPanel {
  padding : 30px;
  /*background:linen;*/
  align-content: center;
}



/* examples dropdown */

/* Style The Dropdown Button */
.dropbtn {
  /*padding: 10px;*/
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: black;
  padding: 3px 6px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#polynomialOperation >table{
  border-style: solid;
  border-width :1px
}

#denominatorBox{
  border-style: none none solid none;
  border-width: 1px; 
}


/*================= menu  ========================== */




@-moz-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@-o-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
